.steps{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.count{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.data{
    display: flex;
    justify-content: center;
    font-weight: bold;
} 
